<p style="text-align:center; background-color:lightblue; color: black"><strong>Bienvenido, {{usuario.nombre}} {{usuario.apellido}} ({{usuario.email}})</strong></p>
<ul class="nav nav-pills">
  <li role="presentation" class="active"><a ui-sref="main.menu">Home</a></li>
  <li role="presentation" ng-if="usuario.perfil != 'comprador'"><a ui-sref="main.alta">Nuevo Producto</a></li>
  <li role="presentation"><a ui-sref="main.productos">Productos</a></li>
  <li role="presentation" ng-if="usuario.perfil == 'administrador'"><a ui-sref="main.usuarios">Usuarios</a></li>
</ul>
</br>

<div ui-view></div>